services:
  # Compilaci贸n para Linux x64
  linux-x64:
    build:
      context: .
      dockerfile: Dockerfile.linux
      args:
        ARCH: amd64
    volumes:
      - ./:/app
      - ./dist:/app/dist
    command: ["pyinstaller", "--clean", "--onefile", "--name", "llauncher_linux_x64", "main.py"]

  # Compilaci贸n para Linux ARM64
  linux-arm64:
    build:
      context: .
      dockerfile: Dockerfile.linux
      args:
        ARCH: arm64
    volumes:
      - ./:/app
      - ./dist:/app/dist
    command: ["pyinstaller", "--clean", "--onefile", "--name", "llauncher_linux_arm64", "main.py"]
    
  # Compilaci贸n para Windows x64
  windows-x64:
    build:
      context: .
      dockerfile: Dockerfile.windows
    volumes:
      - ./:/app
      - ./dist:/app/dist
    command: ["pyinstaller", "--clean", "--onefile", "--name", "llauncher_win_x64", "main.py"]
      
  # Compilaci贸n para Windows ARM64
  windows-arm:
    build:
      context: .
      dockerfile: Dockerfile.windows-arm
    volumes:
      - ./:/app
      - ./dist:/app/dist
    command: ["pyinstaller", "--clean", "--onefile", "--name", "llauncher_win_arm64", "main.py"]
